
<!DOCTYPE html>
<html ng-app="store">
<head>


<link href="css/prom.css" rel="stylesheet">
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script type="text/javascript" src="js/angularstore.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<script>
    	function changeImage(elm) {
			var obj = elm;
			if (obj.getAttribute("class") == "thumb") {
				obj.removeAttribute("class","full");
				obj.setAttribute("class","full");
				setTimeout(function(){
					obj.nextElementSibling.style.display = "block";
				}, 300)

			} else {
				obj.removeAttribute("class","thumb");
				obj.setAttribute("class","thumb");
				obj.nextElementSibling.style.display = "none";
			}
		}

		function closeImage(elm) {
			var obj = elm;
			if (obj.previousElementSibling.getAttribute("class") == "full") {
				obj.previousElementSibling.removeAttribute("class","thumb");
				obj.previousElementSibling.setAttribute("class","thumb");
				obj.style.display = "none";
			}
		}
</script>

</head>
<body ng-controller="StoreController as store">

  <div class="wrapper">

    <div class="centered-wrapper">

      <div class="general-desc-wrap">

        <h1>Shopping Cart - Angular JS</h1>
        <p>AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature
          needs. <br> Read on to find out how.</p>

      </div>

<script>
 var app = angular.module('store', []);

 app.controller("StoreController", function(){
   this.products = gems;
 });

 var imgPath = "http://pre05.deviantart.net/e7cc/th/pre/f/2012/199/0/8/";

 var gems = [
   {
     name : "Product 1",
     price: "2.50",
     description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
     canPurchase : false,
     soldOut : true,
     image : imgPath + "gem_png_by_doloresdevelde-d57oyqr.png"
   },
   {
     name : "Product 2",
     price: "1.50",
     description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
     canPurchase : true,
     soldOut : false,
     image : imgPath + "gem_png_by_doloresdevelde-d57oyqr.png"
   },
   {
     name : "Product 3",
     price: "1.25",
     description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
     canPurchase : true,
     soldOut : false,
     image : imgPath + "gem_png_by_doloresdevelde-d57oyqr.png"
   },
   {
     name : "Product 4",
     price: "1.75",
     description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
     canPurchase : true,
     soldOut : false,
     image : imgPath + "gem_png_by_doloresdevelde-d57oyqr.png"
   },
   {
     name : "Product 5",
     price: "3.50",
     description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
     canPurchase : false,
     soldOut : true,
     image : imgPath + "gem_png_by_doloresdevelde-d57oyqr.png"
   },
   {

     name : "Product 6",
     price: "2.75",
     description : "AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development. AngularJS is a toolset for building the framework most suited to your application development.",
     canPurchase : true,
     soldOut : false,
     image : imgPath + "gem_png_by_doloresdevelde-d57oyqr.png"
   }
 ]
})();
</script>


      <!--Item Wrap: begins-->
      <div class="item-wrap">

        <!--Item: begins-->
        <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
          <h2>{{product.name | uppercase}}</h2>
          <img class="thumb" ng-src="{{product.image}}" onclick="changeImage(this);" />
          <span class="close-icon" onclick="closeImage(this);"></span>
          <p>{{product.description | limitTo : 95}}</p>
          <h3>{{product.price | currency}}</h3>
          <button class="button sold-out" disabled ng-show="product.soldOut">Sold Out</button>
          <button class="button" ng-show="product.canPurchase">Add to Cart</button>

          <div class="panel" ng-show="tab === 1">
            <h2>Description</h2>
            <p>{{product.description}}</p>
            <span class="close-icon" ng-click="tab = 0" style="display:block;"></span>
          </div>

          <div class="panel" ng-show="tab === 2">
            <h2>Reviews</h2>
            <blockquote>None Yet</blockquote>
            <span class="close-icon" ng-click="tab = 0" style="display:block;"></span>
          </div>

          <ul class="nav nav-pills">
            <li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
            <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Reviews</a></li>
          </ul>
        </div>
        <!--Item: ends-->

      </div>
      <!--Item Wrap: ends-->

    </div>

  </div>

</body>

</html>




<!--
	<div class="cover">
    <div class="single_deal">
      <div class="content">
        <div class="hover">
           <div class="description">
           <p>Hold a heart hostage -- Well, maybe, that's not such a good way to put it. Either way this high quality poster will be delivered without a water mark within a few days depending how many orders there are.</p>
           <p>Text reads: "Meet me at prom no cops"</p>

          </div>
          <div class="call_to_action">
            <div class="button2">
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="'Meet Me at Prom' (ransom note) Prom Poster">
<input type="hidden" name="item_number" value="ransom_posters">
<input type="hidden" name="amount" value="12.99">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <h1 class="name">
"Meet Me at Prom" Ransom Note</h1>
        <h1 class="price">$12.99</h1>
      </div>
  </div>
</div>
<br>

<div class="cover">
    <div class="d_deal">
      <div class="content">
        <div class="hover">
           <div class="description">
           <p>Want to woo her with monkeys and bananas? Or just have a playful way of asking her to prom? This is a good poster for you then!</p>
           <p>Text reads: "Let's Go Bananas at Prom!"</p>

          </div>
          <div class="call_to_action">
            <div class="button2">

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="'Let's Go Bananas at Prom' Prom Poster">
<input type="hidden" name="item_number" value="bananas_posters">
<input type="hidden" name="amount" value="12.99">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <h1 class="name">
"Let's Go Bananas at Prom!"</h1>
        <h1 class="price">$12.99</h1>
      </div>
  </div>
</div>

<div class="cover">
    <div class="asingle_deal">
      <div class="content">
        <div class="hover">
           <div class="description">
           <p>Mexican food enthusiast? Cheeky memer? Well, if either of those things appeal to you then this is a good choice in poster.</p>
           <p>Text reads: "Let's Taco Bout' Prom"</p>

          </div>
          <div class="call_to_action">
            <div class="button2">

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value=""Let's Taco Bout' Prom" Prom Poster">
<input type="hidden" name="item_number" value="taco_posters">
<input type="hidden" name="amount" value="12.99">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <h1 class="name">
"Let's Taco Bout' Prom!"</h1>
        <h1 class="price">$12.99</h1>
      </div>
  </div>
</div>

<div class="cover">
    <div class="bsingle_deal">
      <div class="content">
        <div class="hover">
           <div class="description">
           <p>Maybe you're an up and coming grafitti artist. Maybe you're apart of the 'hip' and 'cool crowd'; if so this would be certainly the choice to make.</p>
           <p>Text reads: "Let's Freestyle at Prom"</p>

          </div>
          <div class="call_to_action">
            <div class="button2">



<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="'Let' Freestyle at Prom' Prom Poster">
<input type="hidden" name="item_number" value="freestyle_posters">
<input type="hidden" name="amount" value="12.99">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <h1 class="name">
"Let's Freestyle at Prom"</h1>
        <h1 class="price">$12.99</h1>
      </div>
  </div>
</div>

<div class="cover">
    <div class="absingle_deal">
      <div class="content">
        <div class="hover">
           <div class="description">
           <p>Want to put her into your arms by sports puns? Then click that buy button!</p>
           <p>Text reads: "It Would be a Huge SCORE!"</p>

          </div>
          <div class="call_to_action">
            <div class="button2">

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="'It Would be a Huge SCORE!' Prom Poster">
<input type="hidden" name="item_number" value="score_posters">
<input type="hidden" name="amount" value="12.99">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <h1 class="name">
"It Would be a Huge SCORE!"</h1>
        <h1 class="price">$12.99</h1>
      </div>
  </div>
</div>


<div class="cover">
    <div class="aabsingle_deal">
      <div class="content">
        <div class="hover">
           <div class="description">
           <p>Puns bro. Women love puns.</p>
           <p>Text reads: "I mustache you a Question"</p>

          </div>
          <div class="call_to_action">
            <div class="button2">

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="'I mustache you a Question' Prom Poster">
<input type="hidden" name="item_number" value="mustache_posters">
<input type="hidden" name="amount" value="12.99">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

            </div>
          </div>
        </div>
      </div>
      <div class="title">
        <h1 class="name">
"I mustache you a Question"</h1>
        <h1 class="price">$12.99</h1>
      </div>
  </div>
</div>
<!-- paste above dis-->
<div class="content-bottom-two">
		<div class="col-md-6 content-left text-center">
			<img src="images/example1.jpeg" alt="" />
		</div>
		<div class="col-md-6 content-right text-center">
			<img src="images/example2.jpeg" alt="" />
		</div>
		<div class="clearfix"></div>
		<div class="btm-pos">
			<h3>What is PromPosters.com?</h3>
			<p> PromPosters.com is a service offering proffesionally constructed Prom, Homecoming, and Formal Posters!</p>
		</div>
</div>

<div class="footer">
	<div class="container">
		<h2><a href="index.html">PromPosters.com</a></h2>
		<p>© 2016 PromPosters.com. All Rights Reserved | Layout by <a href="https://w3layouts.com/" target="_blank">W3Layouts</a> | Design: quinn@knyvez.com</p>
		<ul>
			<!--FACES GO HERE -->
		</ul>
	</div>
</div>
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
