
<!DOCTYPE html>
<html ng-app="store">
<head>
<title>Custom Prom Posters</title>

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/prom.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<!-- js -->
<script type="text/javascript" src="js/angularstore.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- js -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<script>
    	function changeImage(elm) {
			var obj = elm;
			if (obj.getAttribute("class") == "thumb") {
				obj.removeAttribute("class","full");
				obj.setAttribute("class","full");
				setTimeout(function(){
					obj.nextElementSibling.style.display = "block";
				}, 300)

			} else {
				obj.removeAttribute("class","thumb");
				obj.setAttribute("class","thumb");
				obj.nextElementSibling.style.display = "none";
			}
		}

		function closeImage(elm) {
			var obj = elm;
			if (obj.previousElementSibling.getAttribute("class") == "full") {
				obj.previousElementSibling.removeAttribute("class","thumb");
				obj.previousElementSibling.setAttribute("class","thumb");
				obj.style.display = "none";
			}
		}
</script>

</head>
<body ng-controller="StoreController as store">

<div class="banner">
	<div class="header">
			<div class="logo">

			   <h1><a href="index.html"><i><img src="" alt=" " /></i>PromPosters.com</a></h1>
			</div>
			<div class="top-nav">
				<span class="menu"><img src="images/menu.png" alt=" " /></span>
				<ul class="nav1">
					<li><a href="index.html" data-toggle="modal" data-target="#myModal">Home</a></li>
					<li><a href="prom.html" data-toggle="modal" data-target="#myModal2">Prom</a></li>
					<li><a href="404.html" data-toggle="modal" data-target="#myModal1">Formal</a></li>
					<li><a href="404.html" data-toggle="modal" data-target="#myModal3">Homecoming</a></li>
					<li><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="display" value="1">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</li>
				</ul>
						<!-- script-for-menu -->
						 <script>
						   $( "span.menu" ).click(function() {
							 $( "ul.nav1" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
						<!-- /script-for-menu -->
			</div>
			<div class="clearfix"> </div>
	</div>
	<div class="container">
		<div class="banner-info">
			<h3><img src="images/header.png"></h3>
		</div>
	</div>
</div>
<div class="content-bottom">

</div>

<script>
// Angular JS Test App

(function() {

var app = angular.module('store', []);

app.controller("StoreController", function() {
	this.products = gems;
});

var imgPath = "images";

var gems = [{
	name: "Ransom Note",
	price: "12.99",
	description: "Hold a heart hostage -- Well, maybe, that's not such a good way to put it. Either way this high quality poster will be delivered without a water mark within a few days depending how many orders there are.",
	canPurchase: true,
	soldOut: false,
	image: imgPath + "/example1.jpeg"
}, {
	name: "Taco Bout' Prom",
	price: "12.99",
	description: "More puns! That father thing I made up, but speaking from personal experience women totally dig puns.",
	canPurchase: true,
	soldOut: false,
	image: imgPath + "/taco.jpg"
}, {
	name: "SCORE!",
	price: "12.99",
	description: "On a sports team that has scores? Then bro, this is the poster for you. Perfect for the speacially sporty someone.",
	canPurchase: true,
	soldOut: false,
	image: imgPath + "/score.jpg"
}, {
	name: "Mustache",
	price: "12.99",
	description: "Like my father says 'Son, women love puns. Especially puns with mustaches'. And if you trust my father as much as I do you should totally buy this poster.",
	canPurchase: true,
	soldOut: false,
	image: imgPath + "/mus.jpg"
}, {
	name: "Bananas",
	price: "12.99",
	description: "Animal fan? Banana fan? Maybe you are just looking for a playful way to ask her out. Well look no further than this!",
	canPurchase: false,
	soldOut: true,
	image: imgPath + "/example2.jpeg"
}, {

	name: "Freestyle",
	price: "12.99",
	description: "Up and coming grafiti artist? Maybe you tryna build that street cred. Maybe you tryna appeal to that one girl with that cool hair but she -- Nevermind. ",
	canPurchase: true,
	soldOut: false,
	image: imgPath + "/free.jpg"
}]
})();
</script>


<div class="wrapper">

    <div class="centered-wrapper">

        <div class="general-desc-wrap">

            <h1>images are real messed up, working on fix</h1>

        </div>

        <!--Item Wrap: begins-->
        <div class="item-wrap">

            <!--Item: begins-->
            <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>{{product.name | uppercase}}</h2>
                <img class="thumb" ng-src="{{product.image}}" onclick="changeImage(this);" />
                <span class="close-icon" onclick="closeImage(this);"></span>
                <p>{{product.description | limitTo : 95}}</p>
                <h3>{{product.price | currency}}</h3>

                <div class="panel" ng-show="tab === 1">
                	<h2>Description</h2>
                    <p>{{product.description}}</p>
                    <span class="close-icon" ng-click="tab = 0" style="display:flex;"></span>
                </div>

                <div class="panel" ng-show="tab === 2">
                	<h2>Buy now!</h2>
									<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="saturday248@gmail.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="Prom Poster">
<input type="hidden" name="item_number" value="prom_poster">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest">
<table>
<tr><td><input type="hidden" name="on0" value="Type (Temp Fix)">Poster Type (Scroll through)(temp fix)</td></tr><tr><td><select name="os0">
	<option value="Meet me at Prom">Meet me at Prom $12.99 USD</option>
	<option value="Let's Taco Bout' Prom">Let's Taco Bout' Prom $12.99 USD</option>
	<option value="Let's Go Bananas at Prom!">Let's Go Bananas at Prom! $12.99 USD</option>
	<option value="Let's Freestyle at Prom">Let's Freestyle at Prom $12.99 USD</option>
	<option value="It Would be a Huge SCORE!">It Would be a Huge SCORE! $12.99 USD</option>
	<option value="I mustache you a Question">I mustache you a Question $12.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="option_select0" value="Meet me at Prom">
<input type="hidden" name="option_amount0" value="12.99">
<input type="hidden" name="option_select1" value="Let's Taco Bout' Prom">
<input type="hidden" name="option_amount1" value="12.99">
<input type="hidden" name="option_select2" value="Let's Go Bananas at Prom!">
<input type="hidden" name="option_amount2" value="12.99">
<input type="hidden" name="option_select3" value="Let's Freestyle at Prom">
<input type="hidden" name="option_amount3" value="12.99">
<input type="hidden" name="option_select4" value="It Would be a Huge SCORE!">
<input type="hidden" name="option_amount4" value="12.99">
<input type="hidden" name="option_select5" value="I mustache you a Question">
<input type="hidden" name="option_amount5" value="12.99">
<input type="hidden" name="option_index" value="0">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


                    <span class="close-icon" ng-click="tab = 0" style="display:block;"></span>
                </div>

                <ul class="nav nav-pills">
                	<li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
                    <li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Buy Now!</a></li>
                </ul>
            </div>
            <!--Item: ends-->

        </div>
        <!--Item Wrap: ends-->

    </div>

</div>

</body>
</html>
<!-- paste above dis-->
<div class="content-bottom-two">
		<div class="col-md-6 content-left text-center">
			<img src="images/example1.jpeg" alt="" />
		</div>
		<div class="col-md-6 content-right text-center">
			<img src="images/example2.jpeg" alt="" />
		</div>
		<div class="clearfix"></div>
		<div class="btm-pos">
			<h3>What is PromPosters.com?</h3>
			<p> PromPosters.com is a service offering proffesionally constructed Prom, Homecoming, and Formal Posters!</p>
		</div>
</div>

<div class="footer">
	<div class="container">
		<h2><a href="index.html">PromPosters.com</a></h2>
		<p>© 2016 PromPosters.com. All Rights Reserved | Layout by <a href="https://w3layouts.com/" target="_blank">W3Layouts</a> | Design: quinn@knyvez.com</p>
		<ul>
			<!--FACES GO HERE -->
		</ul>
	</div>
</div>
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
